/* Definindo a fonte padrão e a cor de fundo */
body {
  font-family: "Arial", sans-serif;
  background-color: #f4f4f9;
  color: #333;
  margin: 0;
  padding: 0;
}

/* Container principal */
.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

/* Título principal */
h1 {
  color: #007bff;
  font-size: 28px;
  margin-bottom: 30px;
}

/* Container geral para cada jogador */
.player-container {
  background-color: #fff;
  border-radius: 8px;
  border: 1px solid #ccc;
  margin: 20px 0;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  color: #007bff;
  font-size: 22px;
  margin-bottom: 10px;
}

/* Estilo para as informações dos personagens */
.player-container div {
  font-size: 16px;
  margin-bottom: 12px;
}

.player-container div strong {
  font-weight: bold;
  color: #555;
}

/* Estilo para os elementos de texto */
span {
  color: #444;
  font-weight: normal;
}

/* Ajuste para os botões de rolagem de dados */
button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  width: 100%;
  margin-top: 10px;
}

button:disabled {
  background-color: #ddd;
  cursor: not-allowed;
}

button:hover:not(:disabled) {
  background-color: #0056b3;
}

/* Seção do turno e resultado */
.turno-container {
  margin-top: 20px;
}

#resultadoTurno,
#resultadoDisputa {
  font-size: 18px;
  text-align: center;
  color: #333;
  margin-top: 20px;
}

/* Estilo para o resultado do turno anterior */
#resultadoTurnoAnterior {
  margin-top: 20px;
  padding: 15px;
  background-color: #f8f9fa;
  border: 1px solid #ddd;
  border-radius: 8px;
  text-align: center;
}

#resultadoTurnoAnterior h3 {
  color: #28a745;
}

#resultadoTurnoAnterior p {
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

/* Ajuste para tornar a página mais responsiva */
@media (max-width: 768px) {
  .player-container {
    width: 95%;
    padding: 15px;
  }

  h2 {
    font-size: 20px;
  }

  .player-container div {
    font-size: 14px;
  }

  button {
    margin-top: 10px;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 24px;
  }

  #contadorTurno {
    font-size: 18px;
  }

  button {
    font-size: 14px;
  }
}
